---
---

:root {
    --text: #000;
    --muted: rgba(0, 0, 0, 0.5);
    --background: #fff;
}

html,
body,
.content {
    height: 100%;
}
body {
    margin: 0 auto;
    max-width: fit-content;
    padding: 2rem 1rem;
    box-sizing: border-box;
    font-family: "DM Sans", "SF Pro Text", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text);
    background: var(--background);
}
h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 2rem;
    line-height: 1.2;
}

.controls {
    margin-bottom: 1rem;
}
.toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
    cursor: pointer;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        &:not(:checked) ~ span {
            color: var(--muted);
        }
    }
    .slider {
        position: relative;
        width: 1.25rem;
        height: 0.75rem;
        background: currentColor;
        border-radius: 999px;
        transition: background 0.2s ease;
    }
    .slider::after {
        content: "";
        position: absolute;
        top: 0.125rem;
        left: 0.125rem;
        width: 0.5rem;
        height: 0.5rem;
        background: #fff;
        border-radius: 999px;
    }
    input:checked + .slider::after {
        left: auto;
        right: 0.125rem;
    }
    .label {
        font-weight: 600;
        font-size: 0.8125rem;
    }
}

small {
    display: block;
    font-size: 0.875rem;
    color: var(--muted);
    font-weight: 600;
    font-style: italic;
}
p {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
    font-size: 1.0625rem;
    white-space: nowrap;
}
li {
    margin: 0 0 1rem;
}
a {
    color: inherit;
}
footer {
    font-size: 0.9375rem;
}
footer,
.muted {
    color: var(--muted);
}
.info {
    cursor: help;
}
@media screen and (min-width: 40rem) {
    body {
        padding: 3rem 2rem 2em;
    }
    ul {
        font-size: 1.25rem;
    }
    small {
        font-size: 0.9375rem;
    }
}
@media screen and (min-width: 70rem) {
    body {
        padding: 6rem 6rem 2rem;
    }
    ul br {
        display: none;
    }
}
